<div class="contextual">
<%= link_to l(:label_custom_tables), custom_tables_path, :class => 'icon icon-package' %>
<%= link_to l(:button_copy), custom_tables_workflows_permissions_copy_path, :class => 'icon icon-copy' %>
</div>
